name: Deploy UI to S3

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: ./ping-the-world-ui/package-lock.json

      - name: Install Dependencies
        run: npm install
        working-directory: ./ping-the-world-ui

      - name: Build UI
        run: npm run build
        working-directory: ./ping-the-world-ui

      - name: Configure AWS Creds for Deployment
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-2

      - name: Upload to S3
        run: aws s3 sync dist/ s3://ping-the-world-ui-dev --delete --cache-control "no-cache,no-store,must-revalidate" --content-type "text/html
        working-directory: ./ping-the-world-ui
